@import './atom/Button';
@import './atom/LinkButton.scss';

body {
  margin: 15px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  &:active, &:visited {
    color: inherit;
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}