@import '../theme';

.button {
  height: 50;
  min-width: 120px;
  background-color: $primary-color;
  border: none;
  margin: 1px;
  outline: none;
  cursor: pointer;
  color: $white;

  &.success__button {
    background-color: $success-color;
  }
  &.error__button {
    background-color: $error-color;
  }
  &.warning__button {
    background-color: $warning-color;
  }

  __text {
    color: inherit;
  }
}